# Executing using h1 style heading 
# H1: Data Science tools and Ecosystem

# Introduction about the Jupyter notebook
## H2:In this notebook, Data Science Tools and Ecosystem are summarized.

# Creating an ordered list of Data Science Languages
### H3: The languages that are commonly used in the Data Science Domain are as follows:-
1. Python
2. R
3. SQL
4. Java
5. VBA

# The commonly used libraries in the Data Science domain are as follows:-
1. Tensorflow
2. Keras
3. Numpy
4. Matplotlib
5. ggplot2
6. Pandas
7. Scikitlearn

# Table of Data science tools

| Data Science Tools|
| -------------| 
|SAS |
| Jupyter Notebook| 
| R Studio |

# H3:Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
min=200
hrs=min/60
print("200 minutes are:-",hrs,"hours")

200 minutes are:- 3.3333333333333335 hours

**Objectives:-**
+ Creating a table of Data Science Open Source Environment Tools
+ Using arithmetic expressions in python for multiplying and adding numbers
+ Listing down all the Data science languages
+ Making H1 style heading sentence
+ Trying to make an ordered list for all the data science libraries

## H2: Author
# Varad Marathe